@media screen and (max-width:1100px){
    .section2-officers .container-fluid.tab-officers{
        top:-38px;
    }

}

@media screen and (max-width:991px){
    footer ul {
        padding: 0px;
        margin: 30px 0px;
    }

    footer .row .col-lg-4:nth-child(3n) .row {
        padding: 10px 0px;
    }

    .section2-about .row:nth-child(2n) .col-lg-6:nth-child(2n) {
        padding-top: 20px;
    }
    
    .navbar .navbar-collapse {
        padding: 10px;
        text-align: right;
        background: linear-gradient(45deg, black, transparent);
    }

    .section2-officers .container-fluid.tab-officers{
        top:-40px;
    }
}

@media screen and (max-width: 767px){
    .ph-flag {
        display: none;
    }

    .section4 .container-fluid .row:first-child h1 {
        font-size: 75px;
    }
    .section2-officers .container-fluid.tab-officers{
        top:-42px;
    }
}

@media screen and (max-width: 576px){
    .section1-about .container .row h1,
    .section1-officers .container .row h1{
        font-size: 45px;
    }
    .section1-members .container .row h1{
        font-size: 40px;
    }

    .section2-officers .container-fluid.tab-officers{
        top:-40px;
    }

    .section4 .container-fluid .row:first-child{
        top: -49px;
    }

    .section4 .container-fluid .row:first-child h1 {
        font-size: 55px;
    }

}
